<!-- Главная страница -->
{% extends 'base.html' %}
{% block title %} Последние новости пользователя {%endblock %}
{% load thumbnail %}
{% load cache %}

{% block content %}
<div class="container py-5">
  <h1>Последние новости пользователя</h1>
  {% include 'posts/includes/switcher.html' %}
  {% cache 20 index_page %}
  {% for post in page_obj %}
    <article>
      <ul>
        <li>Автор: {{ post.author.get_full_name }}</li>
        <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
      </ul>
      {% thumbnail post.image "860x900" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}" />
      {% endthumbnail %}
        <p>{{ post.text|linebreaksbr }}</p>
        <p>
          <a href="{% url 'posts:post_detail' post.id %}"> Подробная информация</a>
        </p>
      {% if post.group %}
        <a href="{% url 'posts:group_lists' post.group.slug %}">
        все записи группы</a>
      {% endif %} {% if not forloop.last %}
      <hr />
      {% endif %}
    </article>
  {% endfor %} {% include 'includes/paginator.html' %}
</div>
{% endcache %}
{% endblock %}